apiVersion: v2
name: {{ ioc_name }}
description: |
    {{ description }}

type: application

# chart and app version - these are updated automatically by CI
version: 0.0.0-b0
appVersion: 0.0.0-b0

dependencies:
  - name: beamline-chart
    version: "1.0.0"
    repository: file://../../beamline-chart
    import-values:
      - beamline_defaults
  - name: helm-ioc-lib
    version: "1.6.2"
    repository: oci://ghcr.io/epics-containers
    import-values:
      - defaults
