name: Code CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python: ["3.7", "3.8", "3.9"]

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install Python Dependencies
        run: |
          python -c "import os;[print(t, v[:10], len(v)) for t, v in sorted(os.environ.items())]"
          pip install pipenv
          pipenv install --dev --deploy --python $(which python) && pipenv graph

      - name: Create Sdist and Wheel
        # for reproducible builds set SOURCE_DATE_EPOCH to the date of the last commit
        # See here for more info : https://reproducible-builds.org/
        # Also use the same version of wheel as inside DLS
        run: |
          export SOURCE_DATE_EPOCH=$(git log -1 --pretty=%ct)
          pip install "wheel==0.33.1"
          python setup.py sdist bdist_wheel

      - name: Run Tests
        run: pipenv run tests --cov-report=xml

      - name: Publish Sdist and Wheel to PyPI
        # Only once when on a tag
        if: matrix.python == '3.7' && startsWith(github.ref, 'refs/tags')
        # We pin to the SHA, not the tag, for security reasons.
        # https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/security-hardening-for-github-actions#using-third-party-actions
        uses: pypa/gh-action-pypi-publish@54b39fb9371c0b3a6f9f14bb8a67394defc7a806 # v1.4.1
        with:
          user: __token__
          password: ${{ secrets.pypi_token }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          name: ${{ matrix.python }}
